<%- include('./partials/head') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <header>
        <div class="width-container">
            <h1>Recente polls</h1>
        </div>
    </header>
    <main>
        <div class="width-container">
            <% if (polls.length > 0) { %>
            <ul class="poll-list">
                <% polls.forEach((poll) => { %>
                <li class="poll-list-item">
                    <a href="/poll/<%= poll.id %>">
                        <h2><%= poll.title %></h2>
                        <p><%= poll.votes.length %> stemmen</p>
                    </a>
                </li>
                <% })%>
            </ul>

            <% } else {%>
            <p class="error">Geen polls gevonden!</p>
            <% }%>
        </div>
    </main>
</body>
<%- include('./partials/foot') %>
