<%- include('./partials/head') %>
<body>
    <header>
        <a href="/">terug</a>
    </header>
    <main>
        <section>
            <h1><%= poll.title %></h1>
            <p><%= poll.checkbox ? 'Kies meerdere antwoorden' : 'Kies 1 antwoord' %></p>
            <form method="POST" action="/poll/<%= poll.id %>/vote-poll">
                <ul>
                    <% poll.answers.forEach((answer) => { %>
                    <li>
                        <label
                            ><input type="<%= poll.checkbox ? 'checkbox' : 'radio' %>" value="<%= answer %>" name="vote" id="" <%=
                            poll.checkbox ? '' : 'required' %> /><%= answer %></label
                        >
                    </li>
                    <% })%>
                </ul>
                <input type="submit" value="Stemmen" />
            </form>
            <div class="submit-buttons">
                <a href="/poll/<%= poll.id %>/result">resultaat</a>
                <a href="">deel</a>
            </div>
        </section>
    </main>
</body>
<%- include('./partials/foot') %>
