<%- include('./partials/head') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <header>
        <div class="width-container">
            <h1>Mijn profiel</h1>
        </div>
    </header>
    <main>
        <div class="width-container">
            <% if (concepts.length > 0) { %>
            <section class="poll-container">
                <h2>Mijn concepten</h2>
                <ul class="poll-list">
                    <% concepts.forEach((poll) => { %>
                    <li class="poll-list-item">
                        <a href="/add/<%= poll.id %>">
                            <h2><%= poll.title %></h2>
                        </a>
                    </li>
                    <% })%>
                </ul>
            </section>
            <% } else {%>
            <p class="error">Geen concepten opgeslagen</p>
            <% }%>
        </div>
    </main>
</body>
<%- include('./partials/foot') %>
